aiogram==2.9.2
aiohttp==3.6.2
alabaster==0.7.12
numpy==1.16.4
https://download.pytorch.org/whl/cpu/torch-1.5.1%2Bcpu-cp37-cp37m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.6.1%2Bcpu-cp37-cp37m-linux_x86_64.whl
Pillow==9.0.0
